@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.profilepage {
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    width: 60%;
    max-width: 40em;
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
}
.player {
  &.container {
    margin: 0.5em 0;
    width: 35em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: lighten($background, 5);
  }
  &.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    margin-bottom: 5px;
    width:100%;
  }
  &.label {
    font-weight: 500;
    color: $accent;
    flex: 1;
  }
  &.value {
    font-weight: 300;
    text-align: right; /* Align text to the right */
    flex: 1; /* Take up remaining space */
    margin-right: 5px;
  }

}